:root {
    --green: #b1d569;
    --black: #222224;
    --white: #f6f8f7;
}

body {
    background-color: var(--black);
    font-family: argent-pixel-cf, sans-serif;
    color: var(--white);
}

#page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 5vw;
    margin-bottom: 0px;
}

h2 {
    font-style: italic;
    color: var(--green);
}

#row {
    display: flex;
    flex-direction: row;
}

#dla-caption-container {
    width: 400px;
    height: 730px;
    margin-left: 24px;
}

#dla-caption {
    white-space: pre-wrap;
    text-align: left;
    font-size: 24px;
    line-height: 26px;
}

#dla-caption::after {
    content: "_";
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
}

#canvas-container {
    display: flex;
    align-items: center;
    height: 400px;
    width: 800px;
    border: 1px solid var(--white);
}

#arduino-option, #virtual-option {
    font-family: argent-pixel-cf, sans-serif;
    margin-top: 5px;
    color: var(--green);
    background-color: var(--black);
}

#virtual-container {
    margin-top: 10px;
    width: 200px;
    height: 200px;
}