:root {
    --green: #b1d569;
    --black: #222224;
    --white: #f6f8f7;
}

body {
    background-color: var(--black);
    font-family: argent-pixel-cf, sans-serif;
    color: var(--white);
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 5vw;
    margin-bottom: 0px;
}

h2 {
    font-style: italic;
    color: #b1d569;
}

canvas {
  display: block;
}

#page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#row {
    display: flex;
    flex-direction: row;
}

#koch-caption-block {
    width: 650px;
    font-size: 24px;
    margin-left: 30px;
}

#koch-caption {
    white-space: pre-wrap;
    text-align: left;
}

#koch-caption::after {
    content: "_";
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
}

#canvas-container {
    display: flex;
    align-items: center;
    height: 750px;
    width: 750px;
}

#flake-and-keys {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttons {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

#snowflake, #antiflake, #playC, #playD, #playE, #playF, #playG, #playA, #playB {
    font-family: argent-pixel-cf, sans-serif;
    color: var(--green);
    background-color: var(--black);
}

#reset-sound {
    margin-top: 5px;
    font-family: argent-pixel-cf, sans-serif;
    color: var(--green);
    background-color: var(--black);
}