:root {
    --green: #b1d569;
    --black: #222224;
    --white: #f6f8f7;
}

body {
    background-color: var(--black);
    font-family: argent-pixel-cf, sans-serif;
    color: var(--white);
}

#page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 0px;
    font-size: 5vw;
}

h2 {
    font-style: italic;
    color: var(--green);
}

#row {
    display: flex;
    flex-direction: row;
}

#caption-container {
    margin-left: 25px;
    width: 750px;
    font-size: 1.5vw;
}

#attractor-caption {
    white-space: pre-wrap;
    text-align: left;
}

#attractor-caption::after {
    content: "_";
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
}

#canvas-container {
    display: flex;
    align-items: center;
    height: 600px;
    width: 600px;
    border: 1px solid var(--white);
}